name: CD - Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Create deployment package
      run: |
        zip -r devops-app-${{ github.sha }}.zip . -x "node_modules/*" ".git/*" ".gitignore"

    - name: Upload to S3
      run: |
        aws s3 cp devops-app-${{ github.sha }}.zip s3://devops-bucket-${{ secrets.AWS_ACCOUNT_ID }}/

    - name: Create CodeDeploy deployment
      run: |
        aws deploy create-deployment \
          --application-name devops-app \
          --deployment-group-name devops-app-dg \
          --s3-location s3://devops-bucket-${{ secrets.AWS_ACCOUNT_ID }}/devops-app-${{ github.sha }}.zip \
          --deployment-config-name CodeDeployDefault.OneAtATime
